In [1]:
import pandas as pd
import numpy as np
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper
import geopandas 
import fiona
# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [2]:
global_data= pd.read_csv("cleaned_data/by_global.csv")
coords_data= pd.read_csv("data/countries.csv")

In [3]:
global_data.head(5)

,Country,Sex,Occupation,Currency,Survey,Type_of_Source,Year_2016
0,Albania,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,403
1,Albania,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,357
2,Armenia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,249
3,Armenia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,166
4,Azerbaijan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,395

In [4]:
# # # Read S Data File and store into Pandas Data Frames

coords_data.head(5)

    latitude  longitude               Country
0  42.546245   1.601554               Andorra
1  23.424076  53.847818  United Arab Emirates
2  33.939110  67.709953           Afghanistan
3  17.060816 -61.796428   Antigua and Barbuda
4  18.220554 -63.068615              Anguilla

In [5]:
# Merge two dataframes using an inner join
merge_table = pd.merge(coords_data, global_data ,on="Country")
merge_table.index.name = 'id'

merge_table.head(50)

,latitude,longitude,Country,Sex,Occupation,Currency,Survey,Type_of_Source,Year_2016
id,,,,,,,,,
0,41.153332,20.168331,Albania,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,403
1,41.153332,20.168331,Albania,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,357
2,40.069099,45.038189,Armenia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,249
3,40.069099,45.038189,Armenia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,166
4,40.143105,47.576927,Azerbaijan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,395
5,40.143105,47.576927,Azerbaijan,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,199
6,43.915886,17.679076,Bosnia and Herzegovina,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,441
7,43.915886,17.679076,Bosnia and Herzegovina,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,386
8,23.684994,90.356331,Bangladesh,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,167
9,23.684994,90.356331,Bangladesh,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,154
10,50.503887,4.469936,Belgium,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,3634
11,50.503887,4.469936,Belgium,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,2901
12,-16.290154,-63.588653,Bolivia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous Employment Survey,Labour force survey,483
13,-16.290154,-63.588653,Bolivia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous Employment Survey,Labour force survey,364
14,-14.235004,-51.925280,Brazil,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Household Sample Survey,Other household survey,654
15,-14.235004,-51.925280,Brazil,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Household Sample Survey,Other household survey,516
16,17.189877,-88.497650,Belize,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,586
17,17.189877,-88.497650,Belize,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,566
18,9.748917,-83.753428,Costa Rica,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Household Survey,Other household survey,967
19,9.748917,-83.753428,Costa Rica,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Household Survey,Other household survey,868
20,9.748917,-83.753428,Costa Rica,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Business Survey (ENAE),Establishment survey,939
21,9.748917,-83.753428,Costa Rica,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Business Survey (ENAE),Establishment survey,929
22,49.817492,15.472962,Czech Republic,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Survey on Structure of Earnings,Establishment survey,1312
23,49.817492,15.472962,Czech Republic,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Survey on Structure of Earnings,Establishment survey,1036
24,18.735693,-70.162651,Dominican Republic,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Labour Force Survey,Labour force survey,321
25,18.735693,-70.162651,Dominican Republic,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Labour Force Survey,Labour force survey,216
26,-1.831239,-78.183406,Ecuador,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"National Survey on Employment, Unemployment an...",Labour force survey,499
27,-1.831239,-78.183406,Ecuador,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"National Survey on Employment, Unemployment an...",Labour force survey,496
28,26.820553,30.802498,Egypt,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force sample survey,Labour force survey,225
29,26.820553,30.802498,Egypt,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force sample survey,Labour force survey,182
30,40.463667,-3.749220,Spain,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,2296
31,40.463667,-3.749220,Spain,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,1837
32,-16.578193,179.414413,Fiji,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Employment, Unemployment Survey",Labour force survey,547
33,-16.578193,179.414413,Fiji,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Employment, Unemployment Survey",Labour force survey,509
34,55.378051,-3.435973,United Kingdom,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Annual Survey of Hours and Earnings,Establishment survey,3712
35,55.378051,-3.435973,United Kingdom,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Annual Survey of Hours and Earnings,Establishment survey,2437
36,39.074208,21.824312,Greece,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,1031
37,39.074208,21.824312,Greece,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,892
38,15.783471,-90.230759,Guatemala,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Monthly Employment and Income Survey,Labour force survey,343
39,15.783471,-90.230759,Guatemala,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Monthly Employment and Income Survey,Labour force survey,333
40,15.199999,-86.241905,Honduras,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Multi-Purpose Household Survey,Other household survey,294
41,15.199999,-86.241905,Honduras,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Multi-Purpose Household Survey,Other household survey,334
42,31.046051,34.851612,Israel,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Income Survey,Household income/expenditure survey,3037
43,31.046051,34.851612,Israel,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Income Survey,Household income/expenditure survey,1987
44,64.963051,-19.020835,Iceland,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Icelandic Survey on Earnings, Wages and Labour...",Establishment survey,6158
45,64.963051,-19.020835,Iceland,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Icelandic Survey on Earnings, Wages and Labour...",Establishment survey,4817
46,30.585164,36.238414,Jordan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Employment Survey for Establishments,Establishment survey,714
47,30.585164,36.238414,Jordan,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Employment Survey for Establishments,Establishment survey,645
48,12.565679,104.990963,Cambodia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Socio-Economic Survey,Household income/expenditure survey,195
49,12.565679,104.990963,Cambodia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Socio-Economic Survey,Household income/expenditure survey,167

In [6]:
merge_table.to_csv("Global_coords.csv")

In [7]:
# merge_table = merge_table.drop(['Capital'], axis=1)


merge_table = merge_table.rename(columns={"id": "id", 
                            "Country": "country",
                           "Latitude": "latitude",
                           "Longitude": "longitude",
                           "Sex": "sex",
                           "Occupation": "occupation",
                           "Currency": "currency",
                           "Survey": "survey",
                           "Type_of_Source": "type_of_source",
                           "Year_2016": "year_2016_earnings"})


merge_table.head()

,latitude,longitude,country,sex,occupation,currency,survey,type_of_source,year_2016_earnings
id,,,,,,,,,
0,41.153332,20.168331,Albania,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,403
1,41.153332,20.168331,Albania,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,357
2,40.069099,45.038189,Armenia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,249
3,40.069099,45.038189,Armenia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,166
4,40.143105,47.576927,Azerbaijan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,395

In [8]:
print (merge_table.dtypes)

latitude              float64
longitude             float64
country                object
sex                    object
occupation             object
currency               object
survey                 object
type_of_source         object
year_2016_earnings      int64
dtype: object

In [9]:
merge_table['latitude'] = merge_table['latitude'].astype(int)
merge_table['longitude'] = merge_table['longitude'].astype(int)

In [10]:
# gdf = geopandas.GeoDataFrame(
#     merge_table, geometry=geopandas[Point(x, y) for x, y in zip(merge_table.Longitude,merge_table.Latitude)])

from geopandas import GeoDataFrame
from shapely.geometry import Point

geometry = [Point(xy) for xy in zip(merge_table.longitude,merge_table.latitude)]
merge_table = merge_table.drop(['longitude', 'latitude'], axis=1)
crs = {'init': 'epsg:4326'}
gdf = GeoDataFrame(merge_table, crs=crs, geometry=geometry)


gdf

,country,sex,occupation,currency,survey,type_of_source,year_2016_earnings,geometry
id,,,,,,,,
0,Albania,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,403,POINT (20 41)
1,Albania,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),General Directorate of Taxation,Insurance records,357,POINT (20 41)
2,Armenia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,249,POINT (45 40)
3,Armenia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Household Labour Force Survey,Labour force survey,166,POINT (45 40)
4,Azerbaijan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,395,POINT (47 40)
5,Azerbaijan,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour-related establishment survey,Establishment survey,199,POINT (47 40)
6,Bosnia and Herzegovina,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,441,POINT (17 43)
7,Bosnia and Herzegovina,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,386,POINT (17 43)
8,Bangladesh,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,167,POINT (90 23)
9,Bangladesh,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,154,POINT (90 23)
10,Belgium,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,3634,POINT (4 50)
11,Belgium,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,2901,POINT (4 50)
12,Bolivia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous Employment Survey,Labour force survey,483,POINT (-63 -16)
13,Bolivia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous Employment Survey,Labour force survey,364,POINT (-63 -16)
14,Brazil,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Household Sample Survey,Other household survey,654,POINT (-51 -14)
15,Brazil,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Household Sample Survey,Other household survey,516,POINT (-51 -14)
16,Belize,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,586,POINT (-88 17)
17,Belize,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,566,POINT (-88 17)
18,Costa Rica,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Household Survey,Other household survey,967,POINT (-83 9)
19,Costa Rica,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Household Survey,Other household survey,868,POINT (-83 9)
20,Costa Rica,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Business Survey (ENAE),Establishment survey,939,POINT (-83 9)
21,Costa Rica,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),National Business Survey (ENAE),Establishment survey,929,POINT (-83 9)
22,Czech Republic,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Survey on Structure of Earnings,Establishment survey,1312,POINT (15 49)
23,Czech Republic,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Survey on Structure of Earnings,Establishment survey,1036,POINT (15 49)
24,Dominican Republic,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Labour Force Survey,Labour force survey,321,POINT (-70 18)
25,Dominican Republic,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continuous National Labour Force Survey,Labour force survey,216,POINT (-70 18)
26,Ecuador,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"National Survey on Employment, Unemployment an...",Labour force survey,499,POINT (-78 -1)
27,Ecuador,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"National Survey on Employment, Unemployment an...",Labour force survey,496,POINT (-78 -1)
28,Egypt,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force sample survey,Labour force survey,225,POINT (30 26)
29,Egypt,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force sample survey,Labour force survey,182,POINT (30 26)
...,...,...,...,...,...,...,...,...
60,Malaysia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Salaries and Wages Survey,Establishment survey,603,POINT (101 4)
61,Malaysia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Salaries and Wages Survey,Establishment survey,578,POINT (101 4)
62,Panama,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Market Survey,Labour force survey,809,POINT (-80 8)
63,Panama,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Market Survey,Labour force survey,795,POINT (-80 8)
64,Pakistan,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,151,POINT (69 30)
65,Pakistan,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,93,POINT (69 30)
66,Poland,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,1193,POINT (19 51)
67,Poland,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of Earnings Survey,Establishment survey,1007,POINT (19 51)
68,Portugal,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Employment Survey,Labour force survey,1012,POINT (-8 39)
69,Portugal,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Employment Survey,Labour force survey,852,POINT (-8 39)
70,Paraguay,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Household Survey,Other household survey,401,POINT (-58 -23)
71,Paraguay,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Household Survey,Other household survey,326,POINT (-58 -23)
72,Romania,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour cost survey,Establishment survey,714,POINT (24 45)
73,Romania,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour cost survey,Establishment survey,667,POINT (24 45)
74,Serbia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,331,POINT (21 44)
75,Serbia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,301,POINT (21 44)
76,Slovenia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of earnings records,Other administrative records and related sources,1916,POINT (14 46)
77,Slovenia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Structure of earnings records,Other administrative records and related sources,1803,POINT (14 46)
78,Slovakia,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Annual Structure of Earnings Survey,Establishment survey,1291,POINT (19 48)
79,Slovakia,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Annual Structure of Earnings Survey,Establishment survey,1007,POINT (19 48)
80,El Salvador,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Multi-purpose household survey,Other household survey,303,POINT (-88 13)
81,El Salvador,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Multi-purpose household survey,Other household survey,286,POINT (-88 13)
82,Thailand,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,421,POINT (100 15)
83,Thailand,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour force survey,Labour force survey,419,POINT (100 15)
84,Timor-Leste,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,308,POINT (125 -8)
85,Timor-Leste,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Labour Force Survey,Labour force survey,367,POINT (125 -8)
86,Ukraine,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Survey on wages of employees by gender, age, e...",Establishment survey,215,POINT (31 48)
87,Ukraine,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),"Survey on wages of employees by gender, age, e...",Establishment survey,166,POINT (31 48)
88,Uruguay,Male (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Household Survey,Labour force survey,955,POINT (-55 -32)
89,Uruguay,Female (Sex),Total (Occupation (ISCO-08)),U.S. dollars (Currency),Continous Household Survey,Labour force survey,754,POINT (-55 -32)

In [11]:
gdf.to_file("countries.geojson", driver='GeoJSON')

In [12]:
merge_table.to_csv("Global_coords.csv")
# merge_table.head(10)

In [13]:
engine = create_engine('postgresql://postgres:'+ password + '@localhost:5432/gender_pay_gap')

NameError: name 'password' is not defined

In [ ]:
#engine.table_names()
metadata = MetaData()
metadata.reflect(bind=engine)
print(metadata.tables)

In [ ]:
merge_table.to_sql(name='pay_gap_by_country', con=engine, if_exists='append', index=True)